* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  max-width: 550px;

  margin: 0 auto;
}

nav {
  padding: 10px;
}

nav a {
  margin-right: 3px;
}
